body{
    background-image: url(./night-blossom.jpg);
    background-repeat: no-repeat;
    min-height: 1050px;
    min-width: 1000px;
    background-size: 1700px 2200px;
    background-position: center;
    zoom: 40%;
}

.container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 50px;
    column-gap: 50px;
    width: 500px;
    height: 100px;
    position: relative;
    top: 150px;
    left: 1000px;
}

.card-body{
    background-color: white;
    width: 400px;
    height: 300px;
    padding: 20px;
    margin: 1px 1px 1px 1px;
    position: relative;
    border-radius: 50px;
    box-shadow: 2px 2px 4px white;
}

.day{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(197, 24, 24);
    text-align: center;
}

.card-head{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(207, 8, 8);
    text-align: center;

}

.card-text{
    font-family: initial;
    color: rgb(30, 124, 30);
    text-align: center;
    font-weight: bolder;
}

h1{
    text-align: center;
    justify-content: center;
    background-color: white;
    padding: 20px;
    width: 600px;
    position: relative;
    top: 80px;
    left: 1380px;
    font-size: 45px;
    border-radius: 50px;
}

h6{
    text-align: center;
    justify-content: center;
    background-color: white;
    padding: 20px;
    width: 300px;
    position: relative;
    top: 60px;
    left: 1500px;
    border-radius:30px ;
}

