*{
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: url(./Taskimage.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1370px 1100px;
    zoom: 100%;
}

.top{
    text-align: center;
    font-size: 15px;
    font-weight: bold; 
}

.top-bottom{
    text-align: center;
    font-size: 25px;
    color: brown;
    
}

table{
    margin: auto;
    width: 90%;
    border-collapse:separate;
    border-spacing: 0 10px;
}

th, td{
    border: 1px solid gray;
    padding: 10px;
    vertical-align: middle;
    font-size: 10px;
    text-align: center;
    background-color: white;
    
}

th{
    transform: rotate(-90deg);
    color: brown;
    background-color: white;
    width: 58px;
}


tr:nth-child(3) td{
    color: brown
}

.type{
    font-size: larger;
    color: brown;
}

.bottom{
    color: brown;
}

td{
    font-family: Georgia, 'Times New Roman', Times, serif;
}



 